body{font-family: 'Arial';}
h1, h2, h3, h4, h5, h6, p {margin: 0; padding: 0;}
ul{padding: 0; margin: 0; list-style: none;}
/*header start*/
.navbar-default{background-color: #eeeaeb;}
.navbar-header {
    width: 100%;
}
.rightheader {
    float: right;
    text-align: right;
}
.rightheadertop {
    margin-top: 15px;
}
.rightheadertop ul li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
.rightheader ul li:last-child{padding-right: 0;}
.rightheadertop ul li a {
    color: hsl(0, 0%, 20%);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.rightheader ul li::after {
    content: '';
    position: absolute;
    border-right: 1px solid #333333;
    height: 10px;
    width: 1px;
    right: -3px;
    top: 5px;
}
.rightheader ul li:last-child::after{display: none;}
.rightheaderdown input {
    width: 262px;
    height: 22px;
    border: 1px solid #809eba;
}
.rightheaderdown {
    margin-top: 43px;
    margin-bottom: 21px;
}
.downheader {
    background-color: #e6c36e;
    border-top: 2px solid #fff;
}
a.navbar-brand {
    margin-top: 15px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 13px;
    color: #333333;
    text-transform: uppercase;
    padding: 10px 14px;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #c8a551;
    color: #fff;
}
.navbar-nav {
    margin-left: -15px;
}
.navbar {
    margin-bottom: 0;
    border: none;
}

/*header end*/
/*Section1 start*/
.section1 {
    padding-bottom: 20px;
}
.sec1-contant {
    background: #eeeaeb;
    border-bottom: 5px solid #dcd7d3;
}
.welcomeimg{background-color: #fff; display: inline-block; border: 6px solid #d5d5d5; padding: 8px 3px 3px 4px; float: left; margin-right: 10px; margin-top: 5px;}
.welcome {
    margin-top: 20px;
    padding-right: 25px;
}
.welcome h2 {
    font-size: 20px;
    color: #b9a071;
    font-weight: bold;
    font-family: 'Droid Serif';
    margin-bottom: 20px;
}
.cust-col {
    padding-right: 0;
}
.welcome-contant{position: relative;}
.welcome-contant p{    font-size: 13px;
    color: #333333b3;
    line-height: 23.5px;
    margin-bottom: 12px;
    font-weight: 600;}
.welcome-contant a{font-size: 13px; color: #91794a; font-weight: bold;}
.owl-nav {
    position: absolute;
    top: 32%;
    width: 100%;
}
.owl-dots {
    text-align: right;
    position: absolute;
    bottom: 16px;
    right: 18px;
}
.owl-dot {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #86705e;
    border: 2px solid #e5c26e;
    margin-right: 0;
    margin-left: 9px;
    display: inline-block;
}
.owl-dot.active {
    border-color: #fff;
}
/*section1 end*/
/*Section2 start*/
.sec2contant {
    border: 6px solid #d5ccb4;
}
.sec2contantall {
    border-top: 1px solid #c5c5c5;
    padding: 20px 55px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
}
.owl-nav {
    position: absolute;
    top: 23%;
    width: 100%;
}
.owl-nav .owl-prev {
    float: left;
    font-size: 45px;
    color: #a6a6a6;
    margin-left: -48px;
}
.owl-nav .owl-next {
    float: right;
    font-size: 45px;
    color: #a6a6a6;
    margin-right: -48px;
}
.owl-demo2 .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}
/*section2 end*/
/*section3 start*/
.heading::after {
    background-color: #e6c36e;
    position: absolute;
    left: 0;
    height: 100%;
    width: 8px;
    content: '';
    top: 0;
}
.heading {
    background-color: #f4eede;
    position: absolute;
    width: 100%;
}
.heading h2{font-size: 16px; color: #333333; font-weight: bold; padding: 8px 0 8px 19px; font-family: 'Droid Serif';}
.exhibition-contant ul {
    padding-top: 43px;
}
span.exhibition-img {
    border: 4px solid #cac4b4;
    display: inline-block;
    margin-bottom: 3px;
}
.exhibition-contant ul li h3 {
    font-size: 13px;
    color: #044e8e9c;
    font-weight: 600;
}
.exhibition-contant ul li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 22px;
}
.exhibition-contant {
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
}
.tweets-contant {
    padding-top: 60px;
}
.tweets .heading {
    width: 90%;
}
.tweets-contant p {
    line-height: 16px;
    color: #333333a3;
    font-weight: 600;
    border-bottom: 1px solid #c5c5c5;
    border-bottom-style: dotted;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.follow img {
    margin-top: 55px;
}
.tweets-contant p.noborder{border: none;}
.section3{border-bottom: 1px solid #c5c5c5;}
.partner {
    padding-top: 20px;
}
.partner-contant {
    margin-top: 30px;
    padding: 15px 60px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
}
.partner-contant .item img {
    padding: 20px;
}
.owl-demo3 .owl-nav {
    position: absolute;
    top: 23%;
    width: 100%;
}
.owl-demo3 .owl-nav .owl-prev {
    float: left;
    font-size: 45px;
    color: #a6a6a6;
    margin-left: -48px;
}
.owl-demo3 .owl-nav .owl-next {
    float: right;
    font-size: 45px;
    color: #a6a6a6;
    margin-right: -48px;
}
.owl-demo3 .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}
.partner .heading {
    width: 97%;
}
/*section3 end*/
/*footer start*/
footer{background-color: #e6c36e; padding-top: 18px;}
.footerleft h2 {
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.footerleft ul li a {
    color: #333333ab;
    font-size: 13px;
    font-weight: 600;
}
.footerleft ul li {
    margin-bottom: 5px;
}
.footerleft ul li i {
    margin-right: 5px;
}
.footer-right{text-align: center;}
.footer-right img{margin-bottom: 40px;}
.footer-right p{font-size: 13px;}
.footer-right ul li{display: inline-block; border-right: 1px solid #333333; padding: 0 3px; font-size: 12px;}
.footer-right ul li:last-child{border-right: none;}
.footer-bottom{background-color: #947f4b; padding: 5px 0;}
.footer-bottom p{color: #f3e3bd; font-size: 12px; line-height: 15px;}
.footerleft {
    margin-bottom: 10px;
}
.exhibition .heading {
    width: 94%;
}
.follow .heading {
    width: 86%;
}
.exhibition {
    border-right: 1px solid #c5c5c5;
}
/*footer end*/